<!--The content below is only a placeholder and can be replaced.-->
<div (paste)="createParts($event)" (keypress)="switchCol($event)" style="text-align:center">
  <h1>
    Part Module
  </h1>

<div class="container">
  <div class="row">
    <table class="sortable table table-condensed table-striped table-bordered nowrap middlealign word-break">
      <thead>
      <tr>
        <th class="text-sm-center"># <i class="fa fa-fw"></i></th>
        <th class="href" [ngClass]="selectedPart==0&&selectedCol=='description'? 'blackBorder':''" ><span>Description <i class="fa fa-fw fa-sort"></i></span></th>
        <th data-sort="string" [ngClass]="selectedPart==0&&selectedCol=='part_no'? 'blackBorder':''" class="href" ><span>Part #<i class="fa fa-fw fa-sort"></i></span></th>
        <th data-sort="date" [ngClass]="selectedPart==0&&selectedCol=='brand_name'? 'blackBorder':''" class="href" ><span >Brand name  <i class="fa fa-fw fa-sort"></i></span></th>
        <th data-sort="date" [ngClass]="selectedPart==0&&selectedCol=='qty'? 'blackBorder':''" class="href" ><span >Qty  <i class="fa fa-fw fa-sort"></i></span></th>
        <th data-sort="date" [ngClass]="selectedPart==0&&selectedCol=='price'? 'blackBorder':''" class="href" ><span >Price  <i class="fa fa-fw fa-sort"></i></span></th>
        <th data-sort="date" [ngClass]="selectedPart==0&&selectedCol=='condition'? 'blackBorder':''" class="href" ><span >Condition  <i class="fa fa-fw fa-sort"></i></span></th>
        <th data-sort="date" [ngClass]="selectedPart==0&&selectedCol=='location'? 'blackBorder':''" class="href" ><span >Location   <i class="fa fa-fw fa-sort"></i></span></th>

      </tr>
      </thead>
      <tbody *ngIf="parts.length">

      <tr (click)="selectedPart=i" *ngFor="let part of parts; let i = index" data-th="order">
        <td class="text-sm-center">{{i}}</td>
        <td (click)="selectedCol='description'" [ngClass]="selectedPart==i&&selectedCol=='description'? 'selected':''" ><input [hidden]="!(selectedPart==i&&selectedCol=='description')" [ngClass]="selectedPart==i&&selectedCol=='description'? 'selected':''" (keyup)="editGroupKey($event,'description', i)" value="{{part.description}}" /><span [hidden]="selectedPart==i&&selectedCol=='description'">{{part.description}}</span></td>
        <td (click)="selectedCol='part_no'" [ngClass]="selectedPart==i&&selectedCol=='part_no'? 'selected':''"  ><input [hidden]="!(selectedPart==i&&selectedCol=='part_no')" [ngClass]="selectedPart==i&&selectedCol=='part_no'? 'selected':''" (keyup)="editGroupKey($event,'part_no', i)" value="{{part.part_no}}" /><span [hidden]="selectedPart==i&&selectedCol=='part_no'">{{part.part_no}}</span></td>
        <td (click)="selectedCol='brand_name'" [ngClass]="selectedPart==i&&selectedCol=='brand_name'? 'selected':''" ><input [hidden]="!(selectedPart==i&&selectedCol=='brand_name')" [ngClass]="selectedPart==i&&selectedCol=='brand_name'? 'selected':''" (keyup)="editGroupKey($event,'brand_name', i)" value="{{part.brand_name}}" /><span [hidden]="selectedPart==i&&selectedCol=='brand_name'">{{part.brand_name}}</span></td>
        <td (click)="selectedCol='qty'" [ngClass]="selectedPart==i&&selectedCol=='qty'? 'selected':''" ><input [hidden]="!(selectedPart==i&&selectedCol=='qty')" [ngClass]="selectedPart==i&&selectedCol=='qty'? 'selected':''" (keyup)="editGroupKey($event,'qty', i)" value="{{part.qty}}" /><span [hidden]="selectedPart==i&&selectedCol=='qty'">{{part.qty}}</span></td>
        <td (click)="selectedCol='price'" [ngClass]="selectedPart==i&&selectedCol=='price'? 'selected':''" ><input [hidden]="!(selectedPart==i&&selectedCol=='price')" [ngClass]="selectedPart==i&&selectedCol=='price'? 'selected':''" (keyup)="editGroupKey($event,'price', i)" value="{{part.price}}" /><span [hidden]="selectedPart==i&&selectedCol=='price'">{{part.price}}</span></td>
        <td (click)="selectedCol='condition'" [ngClass]="selectedPart==i&&selectedCol=='condition'? 'selected':''" ><input [hidden]="!(selectedPart==i&&selectedCol=='condition')" [ngClass]="selectedPart==i&&selectedCol=='condition'? 'selected':''" (keyup)="editGroupKey($event,'condition', i)" value="{{part.condition}}" /><span [hidden]="selectedPart==i&&selectedCol=='condition'">{{part.condition}}</span></td>
        <td (click)="selectedCol='location'" [ngClass]="selectedPart==i&&selectedCol=='location'? 'selected':''" ><input [hidden]="!(selectedPart==i&&selectedCol=='location')" [ngClass]="selectedPart==i&&selectedCol=='location'? 'selected':''" (keyup)="editGroupKey($event,'location', i)" value="{{part.location}}" /><span [hidden]="selectedPart==i&&selectedCol=='location'">{{part.location}}</span></td>
        <!--<td (click)="selectedCol='location'" [ngClass]="selectedPart==i&&selectedCol=='location'? 'blackCol':''" [attr.contenteditable]="isEditable(i)" (keydown)="editGroupKey($event,'location', i)" class="text-sm-center">{{part.location}}</td>-->

      </tr>

      </tbody>
    </table>
    <button (click)="saveData();" class="btn btn-primary float-right">Save</button>
  </div>
</div>

</div>