/*.blackBorder{*/
    /*border-bottom: 2px solid black !important;*/
/*}*/

.blackCol{
    border: 2px solid black !important;
}

input.selected{
    width: 100%;
    line-height: 48px;
}
td.selected{
    padding: 0px;
}